html{
    scroll-behavior: smooth;
    scroll-snap-align: center;
    background-color: gainsboro;
}
a:link {
    color:gray;
    text-decoration: none;
    font-style: italic;
    text-align: center;
    }
a:hover {
    color: red
    }
a:visited {
    text-decoration: none
    }
img.image{
    width: 100%;
    border: solid .5rem gray;
}
img.uofa{
    width: 8%;
}
h1{
    margin-bottom: .5rem;
    background-color: beige;

}
body{
    margin-right: 2%;
    margin-left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}
p {
    text-indent: 1em;
}
div.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
div.row{
    display: table;
    clear: both;
}
div.row1{
    display: table;
    clear: both;
    width: 100%;


}
div.rowEd{
    display: table;
    clear: both;

}
div.column1{
    float: left;
    width: 33%;

}
div.columnEd1{
    float: left;
    width: 37%;
}
div.column2{
    float: right;
    width: 67%;
}
div.column3{
    float: left;
    width: 40%;

}
div.column4{
    float: right;
    width: 60%;

}
div.columnEd2{
    text-align: left;
}
div.skills, div.course{
    text-align: center;
    font-size: 1.2rem;
}
div.about, div.exp, span.name, div.edu, div.wib{
    text-align: left;
    margin-left: 3rem;
    margin-right: 1.5rem;
    font-size: 1.5rem;
}
footer{
    font-size: 10px;
    text-align: right;
}