html{
    scroll-behavior: smooth;
    scroll-snap-align: center;
    background-color: cyan;
}
a:link {
    color:gray;
    text-decoration: none;
    font-style: italic;
    text-align: center;
    font-size: smaller;
    }
a:hover {
    color: red
    }
a:visited {
    text-decoration: none
    }
img.image{
    width: 120%;
    border: solid .5rem gray;
    margin-right: 3rem;
}
img.uofa{
    width: 10%;
}
h1{
    margin-bottom: .5rem;
    background-color: blue;
}
body{
    margin-right: 2%;
    margin-left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}
p {
    text-indent: 1em;
    color: red;
}
div.nav{
    height: 100%;
    width: 150px; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    background-color: black;
    padding-top: 20px;
}
div.row{
    display: table;
    clear: both;
    margin-left: 12rem;
}
div.row1{
    display: table;
    clear: both;
    width: 100%;
}
div.rowEd{
    display: table;
    clear: both;

}
div.column1{
    float: left;
    width: 33%;
    background-color: grey;
}
div.columnEd1{
    float: left;
    width: 37%;
}
div.column2{
    float: right;
    width: 67%;
    text-align: center;
}
div.column3{
    float: left;
    width: 60%;

}
div.column4{
    float: right;
    width: 60%;

}
div.columnEd2{
    text-align: center;
}
div.skills, div.course{
    text-align: center;
    font-size: 1.2rem;
}
div.about, div.exp, span.name, div.edu, div.wib{
    text-align: left;
    margin-left: .2rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    background-color: orange;
}
footer{
    font-size: 10px;
    text-align: right;
}